@model EpilepsieDB.Web.View.ViewModels.PatientDetailDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acronym)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acronym)
        </dd>
        <dt class="col-sm-2">
            MRI Image
        </dt>
        <dd class="col-sm-10">
            <div>
                <img src="\@Model.MriImagePath" width="300" height="300"/>
            </div>
            <div>
                <a asp-controller="Downloads" asp-action="DownloadNifti" asp-route-patientID="@Model.PatientID">Download Nifti</a>
            </div>
        </dd>
    </dl>

    <div>
        <a asp-controller="Downloads" asp-action="DownloadPatient" asp-route-patientID="@Model.PatientID">Download Files</a>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatientID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<div>
    <h4>Recordings</h4>
    <p>
        <a asp-controller="Recordings" asp-action="Create" asp-route-patientID="@Model.PatientID">Create New</a>
    </p>
    <table class="table font-white ">
        <thead>
            <tr>
                <th>
                    Recording Number
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Recordings) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RecordingNumber)
                    </td>
                    <td>
                        <a asp-controller="Recordings" asp-action="Edit" asp-route-id="@item.RecordingID">Edit</a> |
                        <a asp-controller="Recordings" asp-action="Details" asp-route-id="@item.RecordingID">Details</a> |
                        <a asp-controller="Recordings" asp-action="Delete" asp-route-id="@item.RecordingID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

